{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-12 mb-3">
            <fieldset>
                <legend>Your sentence</legend>
                <form class="form" action="#" method="get">
                    <div class="input-group">
                        <input type="text" name="sentence" class="form-control" value="{{ sentence }}">
                        <div class="input-group-append">
                            <button class="btn btn-success btn-outline-secondary" type="submit">Tester</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>

    </div>
    <div class="container-large">
        <table class="table">
            <tr>
                {% for definition in definitions %}
                    <td class="definition {{ definition.posCssClass }}"> {{ definition.word }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for definition in definitions %}
                    <td>{{ definition.posLong }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="container">


        <h2> Historique </h2>
        <ul>
            {% for hash, item in history %}
                <li><a href="?sentence={{ item }}">{{ item }}</a> <a href="{{ path("pos_tagging_remove", { hash: hash }) }}">(delete)</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}